.App {
  text-align: left;
}

.assist {
  width: 40%;
  left: 5%;
  position: relative;
  border: 1px solid #aaa;
  background: #ccc;
  border-radius: 10px;
  padding: 10px;
}

.human {
  width: 40%;
  left: 55%;
  position: relative;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 10px;
  padding: 10px;
}
