:root {
  --dark-blue: #026694;
  --dark-red: #640000;
  --dark-grey: #aaa;
  --very-light: #fff;
  --light: #ffffff;
  --ai-cursor: "▌";
  --message-shadow: hsl(209, 31%, 69%) 0 0 3px;
  --chat-border: 1px solid hsl(185, 13%, 81%);
}

body {
  margin: 0;
  font-family: "Arial", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.app {
  text-align: left;
  background: linear-gradient(215deg, #e6fafd 0%, #d8edff 50%, #ebe9ff 100%);
  font: 12px/16px "Arial";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__block {
  width: 70%;
  max-width: 1100px;
  position: relative;
  align-self: center;
  background: var(--light);
  border: var(--chat-border);
  border-radius: 16px;
  font-size: 0.9rem;
}

.chat-window {
  flex: 2 1 60dvh;
  margin-top: 5vh;
  overflow: hidden;
  position: relative;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--dark-blue) var(--light);
  display: flex;
}

.chat-window__container {
  margin: 12px 0;
  flex: 1;
}

.chat-window__container::-webkit-scrollbar {
  width: 5px;
}

.chat-window__container::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  width: 4px;
  border: 1px solid var(--very-light);
  border-radius: 4px;
}

.chat-window__chat {
  display: flex;
  flex-direction: column;
  padding: 2%;
  min-height: 100%;
  height: auto;
}

.chat__message {
  max-width: 48%;
  width: fit-content;
  block-size: fit-content;
  box-shadow: var(--message-shadow);
  line-height: 1.1rem;
}

.chat__message.assistant {
  background: var(--light);
  border-radius: 0 8px 8px 8px;
  padding: 10px;
  color: #444;
  align-self: flex-start;
}

.chat__message.human {
  background: var(--dark-blue);
  border-radius: 8px 0 8px 8px;
  padding: 10px;
  color: #fff;
  align-self: flex-end;
}

.chat__message .fragment {
  padding: 3px 0;
}

.assistant:last-of-type .fragment:last-of-type::after {
  content: var(--ai-cursor);
  color: var(--dark-blue);
}

.assistant:last-of-type .fragment.fragment__blink:last-of-type::after {
  animation: pulsate 0.93s linear infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.button {
  flex-basis: 20%;
  height: 2rem;
  margin: 16px;
  color: var(--very-light);
  font-weight: 900;
  border-radius: 4px;
  transition: all 0.4s;
  filter: saturate(70%);
  user-select: none;
}

.button:hover {
  filter: brightness(160%);
  filter: saturate(120%);
}

.button.button__inactive:hover {
  filter: brightness(100%);
  filter: saturate(70%);
}

.tech {
  flex: 0 1 2dvh;
  display: flex;
  align-self: center;
  margin: 1rem 0;
  flex-direction: row-reverse;
}

.tech__clear-session {
  background: var(--dark-red);
}

.tech__regenerate,
.tech__go-on {
  background: var(--dark-blue);
}

.button.button__inactive {
  background: var(--dark-grey);
  cursor: default;
}

.prompt {
  flex: 0 1 3dvh;
  position: relative;
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  align-items: center;
  font-size: 0.9rem;
}

.prompt .prompt__text-field,
.prompt .prompt__submit {
  border-radius: 4px;
  margin: 0 16px;
  border: var(--chat-border);
  transition: all 0.3s;
  height: 2rem;
}

.prompt .prompt__form {
  display: flex;
}

.prompt__text-field {
  flex: 8 1 60%;
  text-align: right;
  padding: 4px;
  display: block;
}

.prompt__text-field:focus,
.prompt__text-field:hover {
  border: 1px solid var(--dark-blue);
  box-shadow: inset 0 0 4px #aaa;
}

.prompt__submit {
  flex: 2 1 20%;
  background: var(--dark-blue);
  color: var(--very-light);
}

@media (max-width: 800px) {
  .chat-window {
    margin-top: 2vh;
  }

  .app__block {
    width: 95%;
    border-radius: 12px;
  }

  .button {
    flex: 1 1 auto;
    margin: 16px;
  }

  .button:first-child {
    margin: 16px 16px 8px 0px;
  }

  .button:last-child {
    margin: 16px 0px 16px 16px;
  }

  .prompt__form .button:last-child {
    margin: 8px 16px 0 16px;
  }

  .chat__message {
    max-width: 90%;
    margin: 8px 0;
    width: fit-content;
  }

  .prompt__form {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .prompt__text-field {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .app__block {
    line-height: 0.7rem;
    border-radius: 8px;
  }
}

@media (max-width: 320px) {
  .button {
    font-size: 0.8rem;
  }
}
